<body>
{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}
{% block body %}
<!--<img src="{{ albums.album_logo }}">-->
<h1>{{ albums.album_title }}</h1>
<h3>{{ albums.artist }}</h3>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}


<form action="{% url  albums.id %}" method="post">
    {% csrf_token %}
    {% for song in albums.song_set.all %}
    <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
    <label for="song{{ forloop.counter }}">
        {{ song.song_title }}
        {% if song.is_favourite %}
        <img src="http://i.imgur.com/b9b13Rd.png"/>
        {% endif %}
    </label><br>
    {% endfor %}
    <input type="submit" value="Favourite">

</form>
{% endblock %}

</body>
